
body{
	background-image:url(../image/4567.jpg);
	background-repeat:no-repeat;
	background-size:100% 800px; 
}
.Simple-Form{
	text-align: center;
	margin: 100px 400px;
} 
#Registeration{
	width: 100%;
	background-color:#051019;
	opacity: 0.8;
	padding: 50px 0px;
}
#button{
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
}
#ph{
	width: 70px;
	padding: 10px;
	border-radius: 5px; 
	outline: 0px;
}
#phone{
	width: 180px;
	padding: 10px;
	border-radius: 5px; 
	outline: 0px;
}
#rd{
	width: 20px;
	padding: 0px;
	border-radius: 5px; 
	outline: 0px;
}
#but{
	width:200px; 
}
#butt{
	width: 200px;
	padding: 10px;
	border-radius: 5px; 
	outline: 0px;
	background-color:#0c6996;
}